{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Австралия{% endblock %}
{% block img %} <img src="{% static 'testform/img/australia.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Жизнь в Австралии давно привлекает русских эмигрантов высоким уровнем, климатическими условиями и большими возможностями. К преимуществам жизни в Австралии относят:

экономическую стабильность;
чистоту городских объектов;
высокий показатель продолжительности жизни;
качественные медицинские услуги;
крайне низкий уровень преступности;
отлично развитую инфраструктуру;
высокие заработные платы.
Главным плюсом Австралии  для всех решившихся переехать жить за границу является быстрое получение гражданства – через год легального проживания можно подать бумаги и стать гражданином Австралии. Австралийские гражданство даёт огромные возможности – эта страна имеет безвизовые отношения со многими другими.

Наряду с вышеперечисленными плюсами можно выделить и минусы. К ним относят заоблачные цены на продукты питания, качество которых довольно среднее. Кроме того, Австралии существует проблема с пресной водой. Другую проблему для новых австралийских иммигрантов представляют собой завышенные цены на товары, услуги, покупку и аренду жилья. Налог, взимаемый с заработной платы работника очень высок.

{% endblock %}