{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Болгария{% endblock %}
{% block img %} <img src="{% static 'testform/img/bulgaria.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Является самой дешёвой и комфортной страной для переезда русских, желающих жить в Европе. Для больших заработков Болгария не подходит, но обладает другими преимуществами: отличная экология, низкие цены на аренду и покупку жилья, продукты питания. Налоговые сборы для предпринимателей в Болгарии ниже, чем в остальных европейских странах. Менталитет населения и язык близки русским. При получении ВНЖ
Болгарии открывается возможность безвизового посещения стран ЕС.
{% endblock %}