{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Канада{% endblock %}
{% block img %} <img src="{% static 'testform/img/canada.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Канада является одной из самых открытых стран для мигрантов, желающих учиться, жить и работать на ее территории. Поэтому русская иммиграция в эту страну – явление частое. Канада – государство многокультурное, поэтому при постоянном проживании не приходится отказываться от своих этнических ценностей. Дети, родившиеся здесь, автоматически получают гражданство Канады, причём национальная принадлежность родителей роли не играет. Совершеннолетний может получить гражданство через 3 года после получения ПВЖ.

Почему именно Канада так притягивает русских? Высокий уровень жизни, социальная защищённость, качественные медицинские услуги, практически нулевая преступность, отличные экологические условия делают эту страну целью переезда с надеждой на лучшую жизнь. Стабильная экономическая ситуация, дешёвая медицина, развитость инфраструктуры достигаются путем взимания высоких налогов с рабочих. Но налогоплательщики видят, как были использованы властями собранные средства. Кроме всего прочего, Канада является одной из немногих стран, принимающих эмигрантов из России без особых препятствий.
{% endblock %}