{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Куба{% endblock %}
{% block img %} <img src="{% static 'testform/img/cuba.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Атлантический океан, местная экзотика и низкие цены притягивают на Кубу и туристов, и желающих эмигрировать за рубеж на ПМЖ. Опять-таки главной проблемой оказывается поиск работы. На Кубе есть множество вакансий для сельскохозяйственных рабочих, но оплата труда низкая. На Кубе почти невозможно получить гражданство, но ВНЖ выдают без особых проблем – поэтому Куба включена в список стран, куда проще всего уехать из России.
{% endblock %}