{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Дания{% endblock %}
{% block img %} <img src="{% static 'testform/img/denmark.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Дания – одна из наиболее комфортных стран для проживания, учёбы, работы. Высокий уровень жизни в Дании имеет плюсы и минусы. Несмотря на высокие зарплаты, налоги и расходы на проживание и пропитание так же высоки. Граждане Дании имеют множество привилегий по сравнению с иммигрантами без гражданства – возможность получения больших пособий и государственной пенсии (намного выше обычной). Датское высшее образование считается одним из самых лучших в Европе.

Решившиеся навсегда покинуть Россию и связать судьбу с проживанием в Дании должны сначала получить ВНЖ, по прошествии 7 лет они смогут стать полноценными гражданами страны. ПМЖ выдают лицам, владеющим датским языком на высоком уровне, несмотря на то, что практически все население разговаривает на английском.
{% endblock %}