{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Германия{% endblock %}
{% block img %} <img src="{% static 'testform/img/germany.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Германия – развитая страна во всех смыслах этого слова: качество дорог, медицины, образования высокое. Все эти блага способствуют массовой миграции иностранцев в центральную страну Европы. Высокий уровень жизни в государстве неразрывно связан с оплатой больших налогов. Германская система налогообложения сложная, налоговая ставка напрямую зависит от ежемесячного дохода и семейного положения. Неженатые (незамужние) лица, приехавшие в страну для заработка, будут отдавать значительную часть зарплаты в государственную казну. Например, иммигрант, официально зарабатывая 8,5 €/ч, в реальности после вычета налогов будет получать 6 €/ч. В среднем, в Германии мигранты получают в месяц около 1 500 €, немцы – 2 500 € (показатели без вычета налогов). С другой стороны, большие налоговые сборы обеспечивают отличную инфраструктуру в стране и защищённость всех слоев населения.

Стоимость продуктов питания и одежды покажутся россиянину высокими, но для условий Европы они довольно приемлемы и не считаются завышенными.
{% endblock %}