{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Норвегия{% endblock %}
{% block img %}<img src="{% static 'testform/img/norway.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Северное Королевство поддерживает режим социализма, и здесь просто не существует большой разницы в доходах населения. Поэтому можно сказать, что все равны между собой и относятся к среднему классу. Все те, у кого доход ниже среднего, могут рассчитывать на помощь государства. Банки предоставляют ссуды на покупку квартиры, автомобиля даже малоимущим. Все слои норвежского населения максимально защищены. Это достигается путем взимания больших налогов с рабочих, налоговые отчисления составляют 30% от зарплаты или даже больше.

Цены на продукты в Норвегии крайне высокие – большинство из них являются привозными. В Королевстве только небольшая площадь является пригодной для развития сельского хозяйства. В Норвегии сильно пропагандируется здоровый образ жизни, поэтому цены на крепкие алкогольные напитки просто заоблачные. Жизнь в Норвегии молодым активным людям, решившимся переехать из России, покажется слишком скучной и размеренной – в Норвегии мало культурных развлекательных мероприятий, цены в местных клубах настолько высоки, что далеко не каждый может позволить себе отдыхать в них регулярно.

Климат в Норвегии довольно своеобразен и не радует солнечными лучами. С точки зрения экологии Норвегия считается одной из самых чистых стран с девственной природой. Пресная вода настолько качественная, что многоразовая фильтрация оказывается ненужной.

Если жить в Норвегии на постоянной основе, то гражданство можно получить только через 7 лет.{% endblock %}