{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Швеция{% endblock %}
{% block img %} <img src="{% static 'testform/img/sweden.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Королевство Швеция стало наиболее популярным местом иммиграции по многим причинам:

бесплатное качественное образование;
бесплатная медицина;
высокий уровень жизни;
толерантное отношение коренного населения к приезжим;
высокая заработная плата;
хороший уровень экологии.
Неудивительно, что многие русские задумываются о переезде в Швецию. Беженство из России можно и не рассматривать, Швеция не признает страны бывшего СССР потенциально опасными и редко предоставляет статус беженцев. Единственным вариантом для получения статуса беженца может стать преследование по причине принадлежности к сексуальным меньшинствам.

Чтобы стать гражданином Швеции, необходимо легально прожить в стране не менее 5 лет. Срок ожидания сокращается для беженцев и вступивших в брак с гражданином Швеции.
{% endblock %}