{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Швейцария{% endblock %}
{% block img %} <img src="{% static 'testform/img/switzerland.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Швейцария – одна из самых стабильных и надёжных стран, где население довольно уровнем жизни. Средняя продолжительность жизни (по сравнению с другими европейскими странами) самая высокая. Этому способствует не только отлично развитая медицина, но и местный климат. Большую часть проживающих на территории Швейцарии составляют мигранты – из 8,6 млн человек коренными швейцарцами считаются только 900 000. Швейцария – не самая простая страна для эмиграции из России. Довольно тяжело получить гражданство – нужно прожить на территории страны 12 лет. Но легальное нахождение здесь может осуществляться путем получения ВНЖ временного или постоянного. Для этого необходимо либо устроиться на работу, либо обучиться в одном из швейцарских вузов с последующим трудоустройством, либо стать инвестором.
{% endblock %}