{% extends 'testform/result.html' %}
{% load static %}

{% block country %}Таиланд{% endblock %}
{% block img %} <img src="{% static 'testform/img/thailand.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Эта страна считается дешёвым местом отдыха, но в последнее время многие русские стали всерьёз задумываться о Таиланде как о стране, в которую вполне реально эмигрировать на ПМЖ. Местный климат, культура и недорогие условия проживания манят желающих убежать от проблем на родине. Однако, по отзывам русских, решившихся на переезд, все сталкиваются с проблемой трудоустройства. Здесь практически невозможно найти работу, исключение составляют высококвалифицированные специалисты, в которых нуждается страна. Остальные уехавшие продолжают работать в России удалённо.
{% endblock %}