{% extends 'testform/result.html' %}
{% load static %}

{% block country %}США{% endblock %}
{% block img %} <img src="{% static 'testform/img/usa.jpg' %}" alt="фото" class="total__img">{% endblock %}
{% block text %}Если хочется переехать в англоязычную страну, где не придётся учить дополнительный государственный язык, то можно выбрать в качестве цели переезда Соединенные Штаты. Языковой барьер все равно возникнет – в США используют обороты и слова, отличающиеся от тех, которым учат в российских школах на уроках английского. Со временем барьер исчезнет, достаточно походить на языковые курсы. Из существенных недостатков проживания в Америке выделяют высокую стоимость медицинских услуг, во всем остальном она является идеальным местом для иммиграции.

Дети, родившиеся в США, автоматически получают гражданство, но его родители-иностранцы – нет. Нужно прожить около 5 лет в стране на законных основаниях, затем можно подать бумаги на получение гражданства. США в течение нескольких последних лет остаётся лидером в рейтинге стран, куда россияне эмигрируют чаще всего.
{% endblock %}